@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica.woff2') format('woff2'),
       url('/fonts/Coolvetica.woff') format('woff'),
       url('/fonts/Coolvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Coolvetica', system-ui, Arial, sans-serif;

}
h1, h2, h3, .title {
    font-family: 'Times New Roman', Times, serif;
}