*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;color: #000;
    background-color: rgb(21, 21, 94);
}

header {
    background-color: #f4f4f4;
    padding: 0px;
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-top: 15px;
}
header h1 {
    margin-bottom: 15px;
}
nav {
    list-style: none;
    padding: 3px;
    outline: black solid 2px;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover {
    color: #007BFF;
}

.hero {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    font-size: large;
    size: 20px;
}
.product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #e2e2e2;
}
.product-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #ccc;
    margin-top: 20px;
}