body {
  margin: 0;            
  padding: 0;
  height: 100%;
  font-family: sans-serif; 
  background: rgb(255, 255, 255) 
}
.hero-section {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: url('parfumspray.png');
  background-size: cover;
  background-position: center;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  z-index: 0;
}
 .hero-content {
  position: absolute;
  z-index: 2;
  opacity: 1.0;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.hero-section::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}
.hero-content p {
  font-size: 20px;
}
.pro-img {
  width: 100%;
  height: 60px;
  background-image: url(proviresc.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  top: 0;
  height: 50px;
  z-index: 1000;
  padding: 10px 15px 10px 15px;
  opacity: 1;
}

header a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

nav a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  color: blue;
}

header.scrolled{
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  top: 0;
  z-index: 1000;
  padding: 10px 15px 10px 15px;
}

.introduction{
  margin: 0;
  width: 100%;
  height: 500px;
  background:black;
 
}

.logo {
  height: 72px;
  width: auto;
}

.logo img {
  height: 100%;
  width: auto;
  display: block;
}

.logo img a:hover {
  height: 80px;
  width: auto;
  transition: 0.5s ease;
}

.home {
  navigation: none;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .logo img a {
    height: 80px;
    width: auto;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    margin-left: 0;
    padding: 10px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-content p {
    font-size: 20px;
  }

  .pro-img {
    background-image: url(Povire-mobile.svg);
    height: 250px;
    background-repeat: no-repeat;
    margin: 0;
  }
}