body {
  margin: 0;            
  padding: 0;
  height: 100%;
  font-family: sans-serif;          
  background-color: #98e7ff;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  top: 0;
  z-index: 1000;
  padding: 15px;
}

header a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  color: blue;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .logo a {
    font-size: 30px;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    margin-left: 0;
    padding: 10px;
  }

  .hero {
    width: 80%;
  }
}