  body {
    display: grid;
    place-items: center; /* Shortcut untuk centering horizontal dan vertikal */
    min-height: 100vh;
  }
  .info-item {
    width: 80%;
  }

  .info-item p{
    text-align: justify;
  }

  .info-item a{
    text-decoration: none;
    color: white;
    background-color: #184188;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }