* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
html, body {
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
}

body {
  background: #f5f5f5;
  overflow-x: hidden;

  /* background jundijawa */
  --color: rgba(36, 36, 36, 0.1);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 30px 30px;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: #184188;
  opacity: 0.99;
  color: white;
  transition: opacity 0.3s ease;
  padding: 5px 15px;
}
/* a */

.navbar img {
  height: 60px;
  opacity: 0.9;
}

.navbar nav {
  margin-left: auto;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar nav ul li {
  margin: 0 15px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.9;
}

.PROVIRE {
  color: #5ecbff;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 10px;
}

.navbar img {
  height: 80px;
  opacity: 0.9;
}

.navbar nav ul li a:hover {
  color: #81d7ff;
}

.container {
  max-width: 900px;
  margin: 80px auto;
  padding: 20px 20px 20px 20px;
  text-align: center;  
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #000;
}

/* Top Roles */
.role-box {
  background: white;
  border-radius: 23px;
  padding: 18px 25px;
  width: 300px;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #ddd;
  text-align: center;
}
.role-grid{
    margin-top: 40px;
  max-width: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  text-align: center;
}
.role-box img {
  width: 100%;
  height: 100%;
  border-radius: 17px;
  object-fit: cover;
  margin-bottom: 15px;
}

.role-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 3px;
  color: #0077ff;
}

.role-name {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

/* Division Cards */
.division-grid {
  margin-top: 40px;
  max-width: 80%;
  display: grid;
  justify-content: center;
   grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.card {
  background: white;
  border-radius: 18px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.card h3 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.card p {
  font-size: 14px;
  color: #444;
}

.div-icon {
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }
  .navbar img {
    height: 50px;
  }
  .PROVIRE {
    font-size: 20px;
  }
  .hero-text {
    margin-top: 10px;
    font-size: 13px;
    margin: 15px;
  }
  .navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.9;
  }
  .navbar {
    top: 0;
  }
  .division-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
    line-height: 1.15;
  }
  .play-btn {
    width: 45px;
    height: 45px;
  }
  .PROVIRE {
    font-size: 16px;
  }
  .navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.9;
  }
  .navbar {
    top: 0;
  }
  .division-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
