body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: linear-gradient(#4b0096, #4242c2, #b1fafc);
}

.login {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.login img {
  display: block;
  margin: 0 auto 20px auto;
  width: 100px;
  height: auto;
}
.login h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login label {
  display: block;
  margin-bottom: 8px;
}
.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login input[type="submit"] {
  width: 90%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login input[type="submit"]:hover {
  background-color: #45a049;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
a:hover {
    color: blue;
}

@media (max-width: 600px) {
  .login {
    padding: 15px;
    width: 75%;
  }
}